{{#if error_msg}}
<br>
<div class="row">
  <h6 class="text-danger text-center"><strong>{{error_msg}}</strong></h6>
</div>
{{/if}}

{{#if success_msg}}
<br>
<div class="row">
  <h6 class="text-success text-center"><strong>{{success_msg}}</strong></h6>
</div>
{{/if}}