<!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading text-center">Lipay</div>
      <div class="list-group list-group-flush">
        <a href="/dashboard" class="list-group-item list-group-item-action bg-light">Dashboard</a>
        <a href="/view_all_items" class="list-group-item list-group-item-action bg-light">View All Items</a>
        <a href="/add_new_item" class="list-group-item list-group-item-action bg-light">Add New Item</a>
        <a href="/delete_items" class="list-group-item list-group-item-action bg-light">Delete Items</a>
        <a href="/featured_items" class="list-group-item list-group-item-action bg-light">Featured Items</a>
        <a href="/edit_item_details" class="list-group-item list-group-item-action bg-light">Edit Item Details</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">