<div class="container-fluid">
  <h4 class="mt-4">Add New Item</h4>
  <br>
  {{> messages}}
  <br>
  <form action="/add_new_item" method="POST">
    <div class="form-group">
      <label>Product Name</label>
      <input type="text" class="form-control w-50" id="pName" name="pName" placeholder="Enter product name">
    </div>
    <div class="form-group">
      <label>Product Description</label>
      <input type="text" class="form-control w-50" id="desc" name="desc" placeholder="Enter description">
    </div>
    <div class="form-group">
      <label>Product Category</label>
      <input type="text" class="form-control w-50" id="pCat" name="pCat" placeholder="Enter category">
    </div>
    <div class="form-group">
      <label>Price</label>
      <input type="number" step="any" class="form-control w-50" id="price" name="price" placeholder="Enter price">
    </div>
    <div class="form-group">
      <label for="exampleFormControlFile1">Upload Product Image</label>
      <input type="file" class="form-control-file" id="image" name="image">
    </div>
    <br>
    <button type="submit" class="btn btn-c-yellow">Submit</button>
  </form>
</div>