<section id="features">
  <div class="container">
    <div class="row justify-content-between mt-5">
      <div class="col-8">
        <div class="row">
          <div class="form-group w-100">
            <label for="input-billing">Billing Address</label>
            <textarea id="input-billing" class="form-control" col="100" rows="10" name="billing"></textarea>
          </div>
        </div>
      </div>
      <div class="col-3 bg-light p-5 mt-4 align-self-start">
        <div class="row">
          <div class="col text-center">
            Total:
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            Php 4,000.00
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-between">
      <div class="col-8">
        <div class="row">
          <div class="form-group w-100">
            <label for="input-shipping">Shipping Address</label>
            <textarea id="input-shipping" class="form-control" col="100" rows="10" name="shipping"></textarea>
          </div>
        </div>
      </div>
      <div class="col-3 align-self-start">
        <div class="row">
          <div class="form-group w-100">
            <label for="input-transaction">Mode of Transaction</label>
            <select class="form-control" id="input-transaction">
              <option>CoD</option>
              <option>Online</option>
              <option>Bank Transfer</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="my-3 form-row">
        <a class="btn btn-light mx-2" href="/cart">Return to Cart</a>
        <a class="btn btn-dark mx-2" href="/">Confirm Transaction</a>
      </div>
    </div>
  </div>
</section>