<section id="features">
  <div class="container">
    <div class="row justify-content-between my-5">
      <div class="col-8 bg-light p-5">
        <div class="row">
          <div class="col-3 align-self-center">
            <img class="img-fluid" src="/img/features-placeholder-1.jpg" alt="productimage">
          </div>
          <div class="col-5">
            <div class="row my-2">
              <div class="col align-self-center">Item Name</div>
            </div>
            <div class="row my-2">
              <div class="col">Php 4,000.00</div>
            </div>
          </div>
          <div class="col-4 align-self-center">
            <div class="row align-items-center">
              <div class="col-10">
                <input class="form-control" type="number" min="1">
              </div>
              <div class="col-2 text-center">
                <button class="btn">X</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3 bg-light p-5 align-self-center">
        <div class="row">
          <div class="col text-center">
            Total:
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            Php 4,000.00
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-between my-5">
      <div class="col-8 bg-light p-5">
        <div class="row">
          <div class="col-3 align-self-center">
            <img class="img-fluid" src="/img/features-placeholder-1.jpg" alt="productimage">
          </div>
          <div class="col-5">
            <div class="row my-2">
              <div class="col align-self-center">Item Name</div>
            </div>
            <div class="row my-2">
              <div class="col">Php 4,000.00</div>
            </div>
          </div>
          <div class="col-4 align-self-center">
            <div class="row align-items-center">
              <div class="col-10">
                <input class="form-control" type="number" min="1">
              </div>
              <div class="col-2 text-center">
                <button class="btn">X</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="my-3 form-row">
        <a class="btn btn-dark" href="/billing">Checkout</a>
      </div>
    </div>
  </div>
</section>