<section id="features">
  <div class="container">
    <h4>My Cart</h4>
    <br>
    <div class="row">
      <div class="display-cart col-8">
        <p>test test test</p>
      </div>
      <div class="sidebar-cart col-4">
        <p>test test test</p>
      </div>
    </div>
  </div>
</section>