<div class="container shop-section text-center" id="shop-section"></div>
  <h4>{{title}}</h4>
  <!-- Search Bar -->
  <div class="shop-search">
    <form>
      <table class="table table-borderless">
        <tr>
          <td>
            <input class="form-control" type="search" placeholder="Search">
          </td>
          <td class="text-right">
            <button class="btn" id="showSearchBooking" type="submit">Search</button>
          </td>
        </tr>
      </table>
    </form>
  </div>

  <!-- Display Items on Sale -->
  <div class="display-items text-center">
    {{#if products}}
      {{> display-products}}
      {{> display-products}}
      {{> display-products}}
      {{> display-products}}
    {{/if}}

  <!-- Contact Us -->
  {{> contact-section}}

</div>
