
<!-- Contact Us Form -->
<form>
  <table class="table table-borderless">
    <tr>
      <td>Name</td>
      <td>Contact Number</td>
    </tr>
    <tr>
      <td>
        <input class="form-control" type="text" placeholder="">
      </td>
      <td>
        <input class="form-control" type="number" placeholder="">
      </td>
    </tr>
    <tr>
      <td>Email</td>
    </tr>
    <tr>
      <td colspan="2">
        <input class="form-control" type="email" placeholder="">
      </td>
    </tr>
  </table>
</form>