<div class="container-fluid">
  <br><br><br><br><br>
  <h2>Welcome, Admin!</h2>
  <br>
  <p>This is Lipay's administrator's side where we can view all the orders and items!</p>
  <p>We can edit a user's order status to meet their needs as we as add a new item, edit an item's details, and so much more!</p>
  <br>
  <a href="/view_all_orders" class="btn btn-c-green">Let's get started!</a>
</div>