<!-- Masthead -->
<section id="masthead" class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h1 class="masthead-title">{{title}}</h1>
        <h4 class="masthead-subtitle">Homemade designs and locally-made tote bags and more!</h4>
        <div>
            <a class="btn btn-c-yellow button" href="#features" role="button">Get Started</a>
        </div>
    </div>
    <div class="col-lg-6 order-1 order-lg-2">
        <img src={{mastheadImg}} class="img-fluid animated" alt="">
      </div>
    </div>
  </div>
</section>

<!-- Features -->
<section class="features-section" id="features">
  <div class="container">
    <h4>What's new at this shop?</h4>
    <div class="row">
      {{> featured-items}}
    </div>
    <a class="btn btn-c-yellow button" href="/catalogue">View All Items</a>
  </div>
</section>

<!-- Contact Us -->
{{> contact-section}}