<div class="login-container text-center">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <img src={{img}} class="img-fluid animated" alt="">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card border-0">
        <div class="card-body login-card">
          <form class="form-div" action="/login" method="POST">
            <div class="row">
              <div class="col">
                <h4>{{title}}</h4>
              </div>
            </div>
            {{> messages}}
            <div class="row">
              <div class="col">
                <input class="form-control" placeholder="Email Address" type="email" id="email" name="email">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <input class="form-control" placeholder="Password" type="password" id="password" name="password">
              </div>
            </div>
            <div class="row text-center">
              <div class="col">
                <button class="btn form-button">Login</button>
              </div>
            </div>
            <div class="row text-center">
              <div class="col">
                <p>Don't have an account yet? <a href="/register">Register</a>.</p>
              </div>
            </div>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>