<div class="payment-details">
  <!-- Detailed Description -->
  <div class="card detailed-description mt-4 p-3">
    <dt>These are our details, please pay here and await updates on your purchase.</dt>
    <p class="mt-4">
      Bank: Legitimate Bank of the Philippines <br>
      Account Number: 0123456789
    </p>
  </div>

  <!-- Link to Purchase Details -->
  <div class="ext-center" id="contact">
    <h4 class="mb-4">Go to Your Purchase</h4>
    <a class="btn button" href="/purchase_wip" role="button">Your Purchase</a>
  </div>

</div>