<div class="product-details">
  <div class=" container card">
      <div class="row">
        <aside class="col-sm-5 border-right">
            <div>
              <img src="img/features-placeholder-1.jpg" class="img-fluid animated">
            </div>
        </aside>
      <aside class="col-sm-7">
        <article class="card-body p-5">
          <!-- Product Name -->
          <h3 class="title mb-3">Product Name</h3>
          <!-- Product Price -->
          <p class="price-detail-wrap"> 
            <span class="price h3">
              <span class="currency">₱</span><span class="num">450.00</span>
            </span>
          </p>
          <!-- Item Description -->
          <dl class="item-description">
            <dt>Description</dt>
            <dd>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean pellentesque porttitor nulla,
                at ultricies lacus molestie et. Fusce sit amet tortor ornare, congue nisl vitae, ornare urna. 
                Nunc blandit vulputate accumsan. </p>
            </dd>
          </dl>
          <!-- Quantity -->
          <div class="quantity buttons_added">
            <dt>Quantity</dt>
            <input type="button" value="-" class="minus"><input type="number" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="" inputmode=""><input type="button" value="+" class="plus">
          </div>
          <!-- Buttons -->
          <table class="table table-borderless">
            <tr>
              <td><a href="/login" class="btn w-100">Add to Cart</a></td>
              <td><a href="/login" class="btn w-100">Checkout</a></td>
            </tr>
          </table>
        </article>
      </aside>
    </div>
  </div>

  <!-- Detailed Description -->
  <div class="card detailed-description">
    <dt>Detailed Description</dt>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean pellentesque porttitor nulla, 
      at ultricies lacus molestie et. Fusce sit amet tortor ornare, congue nisl vitae, ornare urna. 
      Nunc blandit vulputate accumsan. Proin accumsan congue tempus. Morbi erat nisl, dictum ut 
      ullamcorper ut, fermentum eget turpis. Donec sed augue eget risus facilisis ornare quis ac 
      quam. Vivamus gravida rutrum sapien, non aliquet enim tincidunt at. Aenean quis lectus at 
      augue convallis hendrerit. Quisque vestibulum quis tellus sit amet pulvinar. Morbi velit 
      neque, posuere et semper vel, porttitor eget est. Maecenas a luctus augue, 
      sit amet eleifend orci. Ut ullamcorper, quam non sodales tristique, erat turpis sagittis 
      enim, sit amet bibendum urna dolor a ligula.
    </p>
  </div>

  <!-- Contact Us -->
  <div class="contact-section text-center" id="contact">
    <h4 class="mb-4"> Didn’t quite find what you were looking for or ordering an archived bag in bulk?</h4>
    <a class="btn button" href="/contact_us" role="button">Talk to Us</a>
  </div>

</div>