<div class="product-details">
  <div class=" container card">
    <br><br><br>
      <div class="row">
        <aside class="col-sm-5">
            <div>
              <img src="img/tote-bag-1.jpg" width="450px">
            </div>
        </aside>
      <aside class="item-desc-card col-sm-7">
        <article class="card-body p-5">
          <!-- Product Name -->
          <h2 class="title mb-3">Product Name</h2>
          <!-- Item Description -->
          <dl class="item-description text-justify">
            <dd>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean pellentesque porttitor nulla,
                at ultricies lacus molestie et. Fusce sit amet tortor ornare, congue nisl vitae, ornare urna. 
                Nunc blandit vulputate accumsan. </p>
            </dd>
          </dl>
          <div class="row">
            <div class="col">
              <!-- Product Price -->
              <h3 class="price-detail-warp">₱ 450.00</h3>
            </div>
            <div class="col">
              <!-- Quantity -->
              <div class="quantity buttons_added">
              <input type="button" value="-" class="btn btn-c-yellow rounded-right minus">
              <input type="number" step="1" min="1" max="" name="quantity" value="1" title="qty" class="input-text qty text" size="4" pattern="" inputmode="">
              <input type="button" value="+" class="btn btn-c-yellow rounded-left plus">
            </div>
          </div>
          <!-- Buttons -->
          <table class="table table-borderless">
            <tr>
              <td><a href="/add_to_cart/{{productId}}" class="btn btn-c-yellow w-100">Add to Cart</a></td>
              <td><a href="/billing" class="btn btn-c-pink w-100">Checkout</a></td>
            </tr>
          </table>
        </article>
      </aside>
    </div>
  </div>

  <!-- Contact Us -->
  {{> contact-section}}

</div>