<div class="purchase-history">

  <div class="card">
    <div class="card-body">
      <img class="img-fluid" src="/img/features-placeholder-2.jpg" alt="productimage" width="250px">
      <div class="card-text-group">
        <table class="table table-borderless">
          <tr>
            <td><h5 class="card-title">Product Name</h5></td>
            <td><h5 class="card-title">Total: ₱ 1350.00</h5></td>
          </tr>
          <tr>
            <td><p class="card-text">3 item(s) in total</p></td>
            <td><p class="card-text">Status: Delivered</p></td>
          </tr>
          <tr>
            <td><p class="card-text">Order placed on 07/20/2020</p></td>
            <td><a href="/purchase_details" class="btn" type="button">View More Details</a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <img class="img-fluid" src="/img/features-placeholder-2.jpg" alt="productimage" width="250px">
      <div class="card-text-group">
        <table class="table table-borderless">
          <tr>
            <td><h5 class="card-title">Product Name</h5></td>
            <td><h5 class="card-title">Total: ₱ 1350.00</h5></td>
          </tr>
          <tr>
            <td><p class="card-text">3 item(s) in total</p></td>
            <td><p class="card-text">Status: Delivered</p></td>
          </tr>
          <tr>
            <td><p class="card-text">Order placed on 07/20/2020</p></td>
            <td><a href="/purchase_details" class="btn" type="button">View More Details</a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <img class="img-fluid" src="/img/features-placeholder-2.jpg" alt="productimage" width="250px">
      <div class="card-text-group">
        <table class="table table-borderless">
          <tr>
            <td><h5 class="card-title">Product Name</h5></td>
            <td><h5 class="card-title">Total: ₱ 1350.00</h5></td>
          </tr>
          <tr>
            <td><p class="card-text">3 item(s) in total</p></td>
            <td><p class="card-text">Status: Delivered</p></td>
          </tr>
          <tr>
            <td><p class="card-text">Order placed on 07/20/2020</p></td>
            <td><a href="/purchase_details" class="btn" type="button">View More Details</a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

</div>