<div class="purchase-history">
  <table class="table table-borderless">
    <tr>
      <td>
        <div class="card">
          <div class="card-body">
            <img class="img-fluid" src="/img/features-placeholder-2.jpg" alt="productimage" width="250px">
            <div class="card-text-group">
              <a href="/product_details">
                <h5 class="card-title">Product Name</h5>
                <p class="card-text">Price: ₱ 450.00</p>
              </a>
            </div>
          </div>
        </div>
      </td>
      <td>
        <table>
          <tr>
            <td class="dark-pink">Status</td>
            <td class="light-pink text-center">Delivered</td>
          </tr>
          <tr>
            <td class="dark-pink">Total</td>
            <td class="light-pink text-center">₱ 1350.00</td>
          </tr>
          <tr>
            <td class="dark-pink">Date</td>
            <td class="light-pink text-center">07/20/2020</td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <div class="card">
          <div class="card-body">
            <img class="img-fluid" src="/img/features-placeholder-2.jpg" alt="productimage" width="250px">
            <div class="card-text-group">
              <a href="/product_details">
                <h5 class="card-title">Product Name</h5>
                <p class="card-text">Price: ₱ 450.00</p>
              </a>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="card">
          <div class="card-body">
            <img class="img-fluid" src="/img/features-placeholder-2.jpg" alt="productimage" width="250px">
            <div class="card-text-group">
              <a href="/product_details">
                <h5 class="card-title">Product Name</h5>
                <p class="card-text">Price: ₱ 250.00</p>
              </a>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>