<div class="settings-container">
  <h4 class="text-center">{{title}}</h4>
  <table class="table table-borderless">
    <tr>
      <td>Default Shipping Address</td>
      <td>Full Name</td>
    </tr>
    <tr>
      <td>
        <textarea class="form-control w-100" rows="10" aria-label="With textarea"></textarea>
      </td>
      <td>
        <input class="form-control" type="email" placeholder="">
      </td>
    </tr>
    <tr>
      <td>Default Billing Address</td>
      <td>New Password</td>
    </tr>
    <tr>
      <td rowspan="4">
        <textarea class="form-control w-100" rows="10" aria-label="With textarea"></textarea>
      </td>
      <td>
        <input class="form-control" type="email" placeholder="">
      </td>
      <tr>
        <td>Confirm New Password</td>
      </tr>
      <tr>
        <td>
          <input class="form-control" type="email" placeholder="">
        </td>
      </tr>
      <tr>
        <td class="text-center">
          <button class="btn btn-c-yellow w-100" type="button">Save Changes</button>
          </td>
      </tr>
    </tr>
  </table>
</div>