<div class="container shop-section" id="shop-section"></div>
  <!-- Search Bar -->
  <div class="shop-search">
    <form>
      <table class="table table-borderless">
        <tr>
          <td>
            <input class="form-control" type="search" placeholder="Search">
          </td>
          <td class="text-right">
            <button class="btn" id="showSearchBooking" type="submit">Search</button>
          </td>
        </tr>
      </table>
    </form>
  </div>

  <!-- Display Items on Sale -->
  <div class="display-items">
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <img src="img/features-placeholder-1.jpg" width="250px" height="250px">
        <p class="features-item-info">Placeholder Item #1</p>
        <p>₱ 250.00</p>
      </div>
      <div class="col-lg-3 col-sm-6">
        <img src="img/features-placeholder-2.jpg" width="250px" height="250px">
        <p class="features-item-info">Placeholder Item #2</p>
        <p>₱ 150.00</p>
      </div>
      <div class="col-lg-3 col-sm-6">
        <img src="img/features-placeholder-3.jpg" width="250px" height="250px">
        <p class="features-item-info">Placeholder Item #3</p>
        <p>₱ 200.00</p>
      </div>
      <div class="col-lg-3 col-sm-6">
        <img src="img/features-placeholder-4.jpg" width="250px" height="250px">
        <p class="features-item-info">Placeholder Item #4</p>
        <p>₱ 450.00</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <img src="img/features-placeholder-1.jpg" width="250px" height="250px">
        <p class="features-item-info">Placeholder Item #1</p>
        <p>₱ 250.00</p>
      </div>
      <div class="col-lg-3 col-sm-6">
        <img src="img/features-placeholder-2.jpg" width="250px" height="250px">
        <p class="features-item-info">Placeholder Item #2</p>
        <p>₱ 150.00</p>
      </div>
      <div class="col-lg-3 col-sm-6">
        <img src="img/features-placeholder-3.jpg" width="250px" height="250px">
        <p class="features-item-info">Placeholder Item #3</p>
        <p>₱ 200.00</p>
      </div>
      <div class="col-lg-3 col-sm-6">
        <img src="img/features-placeholder-4.jpg" width="250px" height="250px">
        <p class="features-item-info">Placeholder Item #4</p>
        <p>₱ 450.00</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <img src="img/features-placeholder-1.jpg" width="250px" height="250px">
        <p class="features-item-info">Placeholder Item #1</p>
        <p>₱ 250.00</p>
      </div>
      <div class="col-lg-3 col-sm-6">
        <img src="img/features-placeholder-2.jpg" width="250px" height="250px">
        <p class="features-item-info">Placeholder Item #2</p>
        <p>₱ 150.00</p>
      </div>
      <div class="col-lg-3 col-sm-6">
        <img src="img/features-placeholder-3.jpg" width="250px" height="250px">
        <p class="features-item-info">Placeholder Item #3</p>
        <p>₱ 200.00</p>
      </div>
      <div class="col-lg-3 col-sm-6">
        <img src="img/features-placeholder-4.jpg" width="250px" height="250px">
        <p class="features-item-info">Placeholder Item #4</p>
        <p>₱ 450.00</p>
      </div>
    </div>
  </div>

  <!-- Contact Us -->
  <section class="contact-section-shop" id="contact">
    <div class="container text-center">
      <h4 class="mb-4">
        Didn't find what you were looking for? Ordering an archived bag in bulk? Contact us!
      </h4>
      <button class="btn" type="button"><a href="/contact_us">Contact Us!</a></button>
    </div>
  </section>

</div>
