/* General */
html {
  margin: 0 auto !important;
  height: 100vh;
  width: 100vw;
}

body {
  background-color: #f9f9f9 !important;
}

/* Navbar */
.navbar {
  padding: 1rem 1rem 1rem 1rem;
  background-color: #82c174;
}

.navbar-brand {
  color: #fff !important;
}

.nav-link {
  color: rgba(255, 255, 255, 0.7) !important;
}

.nav-link:hover {
  color: #fff !important;
}

.bg-1 {
  background-color: #B9EFB0;
}

.bg-2 {
  background-color: #CDF5C6;
}

.bg-3 {
  background-color: #DFFADB;
}

#login-filler {
  background-image: url(/img/features-placeholder-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.55;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

#register-filler {
  background-image: url(/img/features-placeholder-3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.55;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

/* Masthead */
#masthead {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.masthead-title {
  font-family: 'Pacifico', serif;
  font-size: 4.5rem;
  color: #649179;
  margin-bottom: 2rem;
}

.masthead-subtitle {
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 2rem;
}

/* Features */
.features-section {
  padding-top: 5rem;
  padding-bottom: 7rem;
  text-align: center;
}

.features-section img {
  object-fit: cover;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.features-item-info {
  margin-bottom: 0;
}

/* Contact Us */
.contact-section {
    padding: 4rem 0 4rem 0 !important;
}

.contact-section-shop .btn {
  background-color: #E287B2;
}

.contact-us-title {
  font-family: 'Pacifico', serif;
  font-size: 2.5rem;
  color: #649179;
}

.contact-us-container {
  padding: 7rem 0 5rem 0;
}

.contact-us-col .form-control {
  padding: 0 0 0 1rem;
  border-radius: 50px !important;
  background-color: #f9f9f9;
}

.contact-us-col textarea.form-control {
  border-radius: 25px !important;
  padding: 1rem 0 0 1rem !important;
}

/* Buttons */
.btn {
  border: 0;
  color: #fff !important;
  border-radius: 50px !important;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem !important;
}


/* Footer */
.footer-section {
  background-color: #ededed;
}

#sticky-footer {
  flex-shrink: none;
}

/* Quantity Box */

.quantity dt
{
  margin-right: 4rem;
}
 
.quantity .input-text.qty
{
  width: 3rem;
  height: 2.5rem;
  padding: 0 1rem;
  text-align: center;
  background-color: #fff;
  border: 1px solid #efefef;
}
 
.quantity.buttons_added
{
  display: flex;
  text-align: left;
  position: relative;
  white-space: nowrap;
  vertical-align: top;
  padding-bottom: 1rem;
}

.quantity.buttons_added input
{
  display: inline-block;
  margin: 0;
  vertical-align: top;
  box-shadow: none;
}
 
.quantity.buttons_added .minus,
.quantity.buttons_added .plus
{
  padding: 0.5rem 1rem 0.5rem;
  height: 41px;
  cursor: pointer;
}

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button,
.quantity input[type=number]
{
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}

/* Product Details */
.product-details h2 {
  padding-top: 2rem;
}

.product-details .card
{
  background-color: transparent;
  border: none;
}

.item-description
{
  color: rgba(0, 0, 0, 0.5);
}

.detailed-description
{
  padding-top: 4rem;
  padding-bottom: 3rem;
}

.price-detail-wrap {
  color: #caa23e;
}

.quantity-text {
  color: rgba(0, 0, 0, 0.7);
  margin-right: 2rem;
}

.btn-checkout {
  background-color: #D48199 !important;
}

.btn-checkout:hover {
  background-color: #b15f76 !important;
}

/* Purchase History */
.purchase-history .card
{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.purchase-history .card-body
{
  display: flex;
  background-color: #FFD2BC;
}

.purchase-history .card-text-group
{
  margin-left: 3rem;
}

.purchase-history .card-text-group a
{
  color: rgb(31, 31, 31);
}

.purchase-history .card-text-group a:hover
{
  text-decoration: none;
  color: rgb(31, 31, 31);
}

.purchase-history .table
{
  width: 1000px !important;
}

/* Purchase Details */
.purchase-details .card-body
{
  display: flex;
  background-color: #FFD2BC;
}

.dark-pink
{
  color: #fff;
  background-color: #CC5E92;
}

.light-pink
{
  width: 100%;
  color: #fff;
  background-color: #E287B2;
}

.purchase-details .card-text-group
{
  margin-top: 3rem;
  margin-left: 3rem;
}

.purchase-details .card-text-group a
{
  color: rgb(31, 31, 31);
}

.purchase-details .card-text-group a:hover
{
  text-decoration: none;
  color: rgb(31, 31, 31);
}

/* Settings */
.settings-container h4 {
  margin-top: 5rem;
}

/* Register */
.register-container {
  padding: 5rem 0 5rem 0;
}

.register-card {
  padding: 0 4rem 3rem 4rem !important;
  border: none !important;
}

.card-body {
  background-color: #f9f9f9 !important;
}

.register-card .col {
  margin-bottom: 1rem;
  display: table-cell;
}

.register-card .form-control {
  border-radius: 50px !important;
  background-color: #f9f9f9;
}

/* Login */
.login-container {
  padding: 5rem 0 5rem 0;
}

.login-card {
  padding: 4rem 4rem 3rem 4rem !important;
  border: none !important;
}

.card-body {
  background-color: #f9f9f9 !important;
}

.login-card .col {
  margin-bottom: 1rem;
  display: table-cell;
}

.login-card .form-control {
  border-radius: 50px !important;
  background-color: #f9f9f9;
}

/* Admin Login */
.login-form {
  width: 340px;
  margin: 50px auto;
  font-size: 15px;
}
.login-form form {
  margin-bottom: 15px;
  background: #f7f7f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}
.login-form h2 {
  margin: 0 0 15px;
}
.form-control, .btn {
  min-height: 38px;
  border-radius: 2px;
}

/* Admin Sidebar */

#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.admin a {
  color: rgba(0, 0, 0, 0.699) !important;
}

.admin a:hover {
  color: rgba(0, 0, 0, 0.699) !important;
}

/* Catalogue */
.catalogue h1 {
  font-family: 'Pacifico', serif;
  color: #649179;
  padding-top: 2rem !important;
}

.catalogue h4 {
  color: rgba(0, 0, 0, 0.7);
}

.catalogue .form-control {
  border-radius: 50px;
}

.catalogue .btn-search-cat {
  padding: 0 1rem !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.products-price {
  font-size: small;
}