
body
{
    background-color: #DFFADB !important;
}

/* Navbar */
.navbar
{
  background-color: #B9EFB0;
}

.bg-1
{
  background-color: #B9EFB0;
}

.bg-2
{
  background-color: #CDF5C6;
}

.bg-3
{
  background-color: #DFFADB;
}
#login-filler
{
  background-image: url(/img/features-placeholder-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.55;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

#register-filler
{
  background-image: url(/img/features-placeholder-3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.55;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

/* Features */
.features-section
{
    margin-top: 6rem;
    margin-bottom: 6rem;
    text-align: center;
}

.features-section img
{
    object-fit: cover;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.features-item-info
{
    margin-bottom: 0;
}

.features-section .btn
{
    margin-top: 1.5rem;
    background-color: #E287B2;
    border-color: #E287B2;
}

.features-section .btn:hover
{
    background-color: #CC5E92;
}

/* Contact Us */
.contact-section .container
{
    padding: 4rem 0;
    background-color: #B9EFB0;
}

.contact-section a
{
    color: rgba(21, 36, 21, 0.267);
}

.contact-section a:hover
{
    color: rgba(6, 10, 6, 0.267);
    text-decoration: none;
}

/*Footer*/
.footer-section .container
{
    color: #fff;
    background-color: #93E187;
}