/* General */
html {
  margin: 0 auto !important;
  height: 100vh;
  width: 100vw;
}

body {
  background-color: #f9f9f9 !important;
}

/* Navbar */
.navbar {
  padding: 1rem 1rem 1rem 1rem;
  background-color: #82c174;
}

.navbar-brand {
  color: #fff !important;
}

.nav-link {
  color: rgba(255, 255, 255, 0.7) !important;
}

.nav-link:hover {
  color: #fff !important;
}

.bg-1 {
  background-color: #B9EFB0;
}

.bg-2 {
  background-color: #CDF5C6;
}

.bg-3 {
  background-color: #DFFADB;
}

#login-filler {
  background-image: url(/img/features-placeholder-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.55;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

#register-filler {
  background-image: url(/img/features-placeholder-3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.55;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

/* Masthead */
#masthead {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.masthead-title {
  font-family: 'Pacifico', serif;
  font-size: 4.5rem;
  color: #649179;
  margin-bottom: 2rem;
}

.masthead-subtitle {
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 2rem;
}

/* Features */
.features-section {
  padding-top: 5rem;
  padding-bottom: 7rem;
  text-align: center;
}

.features-section img {
  object-fit: cover;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.features-item-info {
  margin-bottom: 0;
}

/* Contact Us */
.contact-section {
    padding: 4rem 0 4rem 0 !important;
}

.contact-section-shop {
  padding: 4rem 0;
  background-color: #B9EFB0;
}

.contact-section-shop .btn {
  background-color: #E287B2;
}

.contact-section-shop a {
  color: #fff !important;
}

.contact-section-shop .btn:hover {
  background-color: #CC5E92;
}

.contact-section-shop a:hover {
  color: #fff;
  text-decoration: none;
}

.contact-us-title {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.contact-us-container {
  padding-bottom: 5rem;
}

/* Buttons */
.btn {
  border: 0;
  color: #fff !important;
  border-radius: 50px !important;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem !important;
  background-color: #e7bc50 !important;
}

.btn:hover {
  background-color: #caa23e !important;
}

/* Footer */
.footer-section {
  background-color: #ededed;
}

#sticky-footer {
  flex-shrink: none;
}

/* Shop */
.shop-section {
  padding-top: 5rem;
}

.display-items a {
  color: rgba(31, 31, 31, 0.9);
}

.display-items a:hover {
  color: rgb(31, 31, 31);
}

.shop-search {
  padding-bottom: 3rem !important;
}

.shop-search .form-control {
  width: 135%;
}

.shop-search .btn {
  background-color: #E287B2 !important;
  color: #fff;
}

.shop-search .btn:hover
{
  background-color: #CC5E92 !important;
  color: #fff;
}

/* Quantity Box */
.quantity
{
  display: flex;
  margin-bottom: 3rem;
}

.quantity dt
{
  margin-right: 4rem;
}
 
.quantity .input-text.qty
{
  width: 5rem;
  height: 2.5rem;
  padding: 0 1rem;
  text-align: center;
  background-color: #fff;
  border: 1px solid #efefef;
}
 
.quantity.buttons_added
{
  text-align: left;
  position: relative;
  white-space: nowrap;
  vertical-align: top;
}

 .quantity.buttons_added input
 {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    box-shadow: none;
 }
 
 .quantity.buttons_added .minus,
 .quantity.buttons_added .plus
 {
    padding: 0.5rem 1rem 0.5rem;
    height: 41px;
    background-color: #E287B2;
    border: 1px solid #E287B2;
    cursor:pointer;
}
 
.quantity.buttons_added .minus
{
  border-right: 0; 
}

.quantity.buttons_added .plus
{
  border-left: 0;
}

.quantity.buttons_added .minus:hover,
.quantity.buttons_added .plus:hover
{
  background-color: #CC5E92;
}

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button
{
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}

.quantity.buttons_added .minus:focus,
.quantity.buttons_added .plus:focus
{
  outline: none; 
}

/* Product Details */
.product-details .card
{
  background-color: transparent;
  border: none;
}

.item-description
{
  margin-bottom: 3rem; 
}

.detailed-description
{
  padding-top: 2rem;
  padding-bottom: 3rem;
}

/* Purchase History */
.purchase-history .card
{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.purchase-history .card-body
{
  display: flex;
  background-color: #FFD2BC;
}

.dark-pink
{
  color: #fff;
  background-color: #CC5E92;
}

.light-pink
{
  width: 100%;
  color: #fff;
  background-color: #E287B2;
}

.purchase-history .card-text-group
{
  margin-left: 3rem;
}

.purchase-history .card-text-group a
{
  color: rgb(31, 31, 31);
}

.purchase-history .card-text-group a:hover
{
  text-decoration: none;
  color: rgb(31, 31, 31);
}

.purchase-history .table
{
  width: 1000px !important;
}

/* Purchase Details */
.purchase-details .card-body
{
  display: flex;
  background-color: #FFD2BC;
}

.dark-pink
{
  color: #fff;
  background-color: #CC5E92;
}

.light-pink
{
  width: 100%;
  color: #fff;
  background-color: #E287B2;
}

.purchase-details .card-text-group
{
  margin-top: 3rem;
  margin-left: 3rem;
}

.purchase-details .card-text-group a
{
  color: rgb(31, 31, 31);
}

.purchase-details .card-text-group a:hover
{
  text-decoration: none;
  color: rgb(31, 31, 31);
}

/* Settings */
.settings-container h4
{
  margin-top: 5rem;
}

/* Register */
.register-container {
  padding: 5rem 0 5rem 0;
}

.register-card {
  padding: 0 4rem 3rem 4rem !important;
  border: none !important;
}

.card-body {
  background-color: #f9f9f9 !important;
}

.register-card .col {
  margin-bottom: 1rem;
  display: table-cell;
}

.register-card .form-control {
  border-radius: 50px !important;
  background-color: #f9f9f9;
}

/* Login */
.login-container {
  padding: 5rem 0 5rem 0;
}

.login-card {
  padding: 4rem 4rem 3rem 4rem !important;
  border: none !important;
}

.card-body {
  background-color: #f9f9f9 !important;
}

.login-card .col {
  margin-bottom: 1rem;
  display: table-cell;
}

.login-card .form-control {
  border-radius: 50px !important;
  background-color: #f9f9f9;
}